<div class="container">
  <div class="row">
    <div class="col-md-6">
      <input type="file" class="custom-file-input" id="file" accept="image/*" (change)="readFile($event)"
      [class.is-invalid]="errorFileSize" [(ngModel)]="file"/>
      <label class="custom-file-label" for="file">Hola {{userName}}, estamos listos para procesar tus imágenes</label>
      <small id="imgSizeError" class="form-text text-danger" *ngIf="errorFileSize">No se permiten archivos mayores a 4Mb</small>
      <small id="imgExtensionError" class="form-text text-danger" *ngIf="errorFileExtension">La extension del archivo no esta permitida</small>
    </div>
  </div>
</div>
