<div class="container">
  <!-- Titulo -->
  <h1>{{ title }}</h1>

  <!-- Comentarios -->
  <div>
    <span>Todas las instrucciones para llevar a cabo este Test se encuentran en el archivo <b>README</b>.</span><br />
    <span
      ><b style="color: red">Importante:</b> Este proyecto usa componentes de
      <a href="https://getbootstrap.com/docs/4.6/components/forms/" target="_blank" rel="noopener noreferrer"
        >Bootstrap</a
      ></span
    ><br />
    <span
      ><b style="color: red">Importante:</b> El componente de DatePicker es de
      <a
        target="_blank"
        href="https://ng-bootstrap.github.io/#/components/datepicker/overview"
        rel="noopener noreferrer"
        >NgBootstrap</a
      ></span
    >
  </div>
  <br />
  <br />

  <!-- Componente Formulario -->
  <app-formulario></app-formulario>
  <br />
  <br />
  <br />
  <br />
</div>
