<!-- Formulario -->
<form [formGroup]="form">
  <!-- Nombre - Apellidos - Edad -->
  <div class="row">
    <!-- Nombre -->
    <div class="col-md-5">
      <div class="form-group">
        <label for="name"><b>T-</b> Nombre</label>
        <input type="text" class="form-control" id="name" aria-describedby="nameError" formControlName="name"
               [class.is-invalid]="name.errors"/>
        <small id="name-error" class="form-text text-danger"
               *ngIf="name.hasError('pattern')">{{errorOnlyText}}</small>
      </div>
    </div>
    <!-- Nombre -->
    <!-- Apellidos -->
    <div class="col-md-5">
      <div class="form-group">
        <label for="apellidos"><b>T-</b> Apellidos</label>
        <input type="text" class="form-control" id="apellidos" aria-describedby="apellidosError"
               formControlName="surnames"
               [class.is-invalid]="surnames.errors"/>
        <small id="apellidos-error" class="form-text text-danger"
               *ngIf="surnames.hasError('pattern')">{{errorOnlyText}}</small>
      </div>
    </div>
    <!-- Apellidos -->
    <!-- Edad -->
    <div class="col-md-2">
      <div class="form-group">
        <label for="edad"><b>N-</b> Edad</label>
        <input type="number" class="form-control" id="edad" aria-describedby="edadError" formControlName="age"
               [class.is-invalid]="age.errors" (keypress)="numberOnly($event)" (paste)="false"/>
        <small id="edadError" class="form-text text-danger"
               *ngIf="age.hasError('pattern')">{{errorOnlyNumbers}}</small>
        <small id="edad-message" class="form-text text-muted"
               *ngIf="!age.errors">{{age.value < 18 ? 'La edad es menor que 18' : 'La edad es mayor o igual a 18'}}</small>
      </div>
    </div>
  </div>
  <!-- Edad -->
  <!-- Nombre - Apellidos - Edad -->

  <!-- Celular - Email -->
  <div class="row">
    <!-- Celular -->
    <div class="col-md-6">
      <div class="form-group">
        <label for="celular"><b>N-</b> Celular</label>
        <input type="number" class="form-control" id="celular" aria-describedby="phoneError" formControlName="cellphone"
               [class.is-invalid]="cellphone.errors" (keypress)="numberOnly($event)" (paste)="false"/>
        <small id="phone-error" class="form-text text-danger"
               *ngIf="cellphone.hasError('pattern')">{{errorOnlyNumbers}}</small>
      </div>
    </div>
    <!-- Celular -->

    <!-- Correo -->
    <div class="col-md-6">
      <div class="form-group">
        <label for="email">Correo</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailError" formControlName="email"
               [class.is-invalid]="email.errors"/>
        <small id="email-error" class="form-text text-danger"
               *ngIf="email.hasError('pattern')">{{errorInvalidEmail}}</small>
      </div>
    </div>
    <!-- Correo -->
  </div>
  <!-- Celular - Email -->

  <!-- Contraseña -->
  <div class="row">
    <!-- Password -->
    <div class="col-md-6">
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" id="password" aria-describedby="passwordError"
               formControlName="password" [class.is-invalid]="password.errors"/>
        <small id="passwordError" class="form-text text-muted">Error message goes here</small>
      </div>
    </div>
    <!-- Password -->
    <!-- Confirm password -->
    <div class="col-md-6">
      <div class="form-group">
        <label for="password-confirm">Confirmar Contraseña</label>
        <input type="password" class="form-control" id="password-confirm" aria-describedby="confirmError"
               formControlName="confirmPassword"
               [class.is-invalid]="form.hasError('notSame')"/>
        <small id="confirm-error" class="form-text text-danger"
               *ngIf="form.hasError('notSame')">Las contraseñas no
          coinciden</small>
      </div>
    </div>
    <!-- Confirm password -->
  </div>
  <!-- Contraseña -->

  <!-- Agendar Viaje -->
  <div class="row">
    <!-- Agendar Viaje -->
    <div class="col-md-2">
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="travelError" formControlName="scheduleTrip"/>
        <label class="form-check-label" for="travelError">Agendar Viaje</label>
      </div>
    </div>
    <!-- Agendar Viaje -->

    <!-- Fecha Inicio -->
    <div class="col-md-5" [class.date-readonly]="!scheduleTrip.value">
      <div class="form-group">
        <div class="input-group">
          <input
            type="date"
            class="form-control"
            placeholder="Fecha Inicio"
            name="fecha_inicio"
            ngbDatepicker
            #fi="ngbDatepicker"
            formControlName="startDate"
          />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary gg-calendar" (click)="fi.toggle()" type="button"></button>
          </div>
        </div>
        <small id="start-date-higher-end-date-error" class="form-text text-danger"
               *ngIf="startDate.hasError('startDateHigherEndDate')">La fecha de inicio no puede ser mayor a la fecha de
          fin</small>
        <small id="start-date-less-date-now-error" class="form-text text-danger"
               *ngIf="startDate.hasError('startDateLessDateNow')">La fecha de inicio no puede ser menor a la fecha actual</small>
      </div>
    </div>
    <!-- Fecha Inicio -->

    <!-- Fecha Final -->
    <div class="col-md-5" [class.date-readonly]="!scheduleTrip.value">
      <div class="form-group">
        <div class="input-group">
          <input
            type="date"
            class="form-control"
            placeholder="Fecha Fin"
            name="fecha_fin"
            ngbDatepicker
            #ff="ngbDatepicker"
            formControlName="endDate"
          />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary gg-calendar" (click)="ff.toggle()" type="button"></button>
          </div>
        </div>
        <small id="end-date-less-date-now-error" class="form-text text-danger"
               *ngIf="endDate.hasError('endDateLessStartDate')">La fecha de fin no puede ser menor a la fecha de inicio</small>
        </div>
    </div>
    <!-- Fecha Final -->
  </div>
  <!-- Agendar Viaje -->

  <!-- Comentarios -->
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="comments">Comentarios</label>
        <textarea class="form-control text-area-non-resize" id="comments" rows="4"></textarea>
      </div>
    </div>
  </div>
  <!-- Comentarios -->

  <!-- Boton -->
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary">Validar</button>
    </div>
  </div>
  <!-- Boton -->

  <br/><br/>

  <!-- Datos Imagen -->
  <div class="row">
    <div class="col-md-6">
      <!-- Nombre Imagen -->
      <div class="form-group">
        <label for="imgName">Nombre Imagen</label>
        <input type="text" class="form-control" id="imgName" aria-describedby="nameError" formControlName="fileName"/>
        <small id="nameError" class="form-text text-muted">Error message goes here</small>
      </div>
      <!-- Nombre Imagen -->
    </div>
    <div class="col-md-6">
      <!-- Peso imagen -->
      <div class="form-group">
        <label for="imgSize">Peso Imagen</label>
        <input type="text" class="form-control" id="imgSize" aria-describedby="imgSizeError"
               formControlName="fileSize"/>
        <small id="imgSizeError" class="form-text text-muted">Error message goes here</small>
      </div>
      <!-- Peso imagen -->
    </div>
  </div>
  <!-- Datos Imagen -->

  <!-- Imagen Componente -->
  <app-image-loader [userName]="name.value" (fileDataEmit)="getData($event)"></app-image-loader>
  <!-- Imagen Componente -->
</form>
